

.Header {
    
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;

    &__Container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: #444;
            padding-left: 20px;
        }

        input {
            width: 250px;
            height: 25px;
            border-radius: 5px;
            border: none;
            margin-right: 20px;
            padding: 2px;
        }

        input:focus{
            outline: none;
            border: none;
        }
    }

    @media (max-width:855px) {
        &__Container {
            flex-direction: column;
            align-items: center;
            justify-content: center;

             input {
                width: 300px;
                height: 25px;
                margin-top: 5px;
                margin-left: 20px;
            }

             h1 {
                color: #444;
                font-size: 45px;
                padding-left: 0;
                margin-left: -5px;
            }

        }

    }

    @media (max-width:355px) {
        &__Container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;


             input {
                width: 200px;
                height: 20px;
                margin-top: 5px;
            }

             h1 {
                color: #444;
                font-size: 30px;
                padding-left: 0;
                margin-left: -20px;
            }

        }

    }
}
